/* GLOBAL VIEW */

.navbar {
    width: 100%;
    height: 107px;
    background: transparent linear-gradient(90deg, #FFA802 0%, #DB2A1B 100%) 0% 0% no-repeat padding-box;
}

.navbar__container {
    width: 90%;
    height: 107px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    align-items: center;
    flex-wrap: wrap;
}

.navbar__logo {
    height: 85px;
    width: auto;
    padding-right: 50px;
}

.navbar__nav li {
    display: inline-block;
    padding-left: 30px;
}
.navbar__item {
    font: normal normal 900 1em Gill-Sans-Nova, sans-serif;
}

.navbar a  {
    color: #fff;
}

.navbar__adrress {
    font-size: 1rem;
}

.navbar a:hover, .mob-menu__item a:hover {
    color: #FFF500;
}

.fries-btn {
    width: 37px;
    height: 26px;
    cursor: pointer;
}

.fries-btn span {
    display: block;
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
}

.fries-btn span:nth-child(2) {
    width: 29px;
    margin-left: auto;
}

.mobile-wrapper {
    display: none;
    padding-right: 40px;
    transition: all .09s ease-out;
}

.mob-menu {
    display: block;
    position: absolute;
}

.mob-menu__item {
    display: block;
    background-color: #DB2A1B;
    padding: 5px;
    margin-left: -50px;
    text-align: right;
    font: normal normal 900 1em Gill-Sans-Nova, sans-serif;
}

@media (max-width: 1262px) {
     .navbar__nav li {
        padding-left: 25px;
    }
    .navbar__logo {
        padding-right: 30px;
    }

    .navbar__container {
        width: 95%;
    } 
}

@media (max-width: 1050px) {
    .navbar__nav li {
        padding-left: 20px;
    }

    .navbar li:first-child {
        padding-left: 0;
    }

    .navbar__logo {
        padding-right: 20px;
    }
}

/* Burger menu starts from 994px */

@media (max-width: 994px) {
    .mobile-wrapper {
        display: block;
    }

    .navbar__nav {
        display: none;
    }
}


@media (max-width: 562px) {    
        .navbar__logo {
        padding-right: 15px;
        height: 65px;
        }
         .navbar__address-email {
        display: none;
         }
    }

@media (max-width: 400px){
    .navbar__container, .navbar {
        height: 80px;
    }
    .navbar__logo{
        height: 50px;
    }

    .navbar__adrress{
        font-size: 0.813rem;
    }
}

